
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="../src/widgets/jquery.ncbo.tree-2.0.2.js"></script>

<div>
  <nav class="nav">
    <ul class="menu-bar">
      <li><a routerLink="AddClubForm" id="addClubForm" class="underline" onClick="ul(0)">ADD CLUB</a></li>
      <li><a routerLink="table" id="table" class="underline" onClick="ul(1)">LEAGUE TABLE</a></li>
      <li class="img-li"><img src="assets/lionLogo.png"  class="image"/></li>
      <li><a routerLink="addMatchForm" id="addMatchForm" class="underline" onClick="ul(2)">ADD MATCH</a></li>
      <li><a routerLink="matchTable" id="matchTable" class="underline" onClick="ul(3)">MATCHES TABLE</a></li>
    
      <div id="indicator"></div>
    </ul>
  </nav>
</div>
